{% extends "base.j2" %}

{% block content %}
{{ page_content }}
{% endblock %}

{% block special_imports %}
<script type="text/x-mathjax-config">
    MathJax.Hub.Config({
        extensions: ["tex2jax.js"],
        jax: ["input/TeX", "output/HTML-CSS"],
        tex2jax: {
            inlineMath: [['$','$']],
            displayMath: [['$$','$$']],
            balanceBraces: true,
            processEscapes: true,
            processEnvironments: true,
            <!--do not look for math in these tags-->
            skipTags: ["script","noscript","style","textarea","pre","code"]
        },
        "HTML-CSS": {
            availableFonts: ["TeX"]
        }
    });
</script>
<script
    type="text/javascript"
    src="{{STATIC_PREFIX}}js/MathJax-2.7.5/MathJax.js?config=TeX-MML-AM_CHTML"
    async>
</script>


<link rel="stylesheet" href="{{STATIC_PREFIX}}css/pygments_github.css">
<!--
<link rel="stylesheet" href="{{STATIC_PREFIX}}css/pygments_zenburn.css">
<link rel="stylesheet" href="{{STATIC_PREFIX}}css/pygments_trac.css">
<link rel="stylesheet" href="{{STATIC_PREFIX}}css/pygments_friendly.css">
<link rel="stylesheet" href="{{STATIC_PREFIX}}css/pygments_autumn.css">
-->
<link rel="stylesheet" href="{{STATIC_PREFIX}}css/pygments_code_block.css">

{% endblock %}
